<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Dish</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/dish.css' %}">
  </head>
  <body>
    <div class="container">
      <h1>Dish</h1>
      <form action="/menu_management/" method="POST" enctype="multipart/form-data">
        {% if name %}
        <div>
        <label class="label" id="category">Category: </label>
        <select name="category" class="form-control" required>
          <option value ="main" {% if categary == "main"%} selected="selected" {% endif %}>Main</option>
          <option value ="pizza" {% if categary == "pizza"%} selected="selected" {% endif %}>Pizza</option>
          <option value="burger" {% if categary == "burger"%} selected="selected" {% endif %}>Burger</option>
          <option value="beverage" {% if categary == "beverage"%} selected="selected" {% endif %}>Beverage</option>
        </select>
        </div>
        <div class="photo-enter">
          <label class="label" id="photo-url">Photo: </label>
          <div class="file-enter">
          <input type="file" class="form-control-file" id="exampleFormControlFile1" name="photo-file" required>
          </div>
        </div>
        <div class="name-enter">
          <label class="label" id="name-label">Name: </label>
          <input type="text" class="form-control" placeholder="Name" id="name-enter" name="dish-name" value="{{name}}" required>
        </div>
        <div class="price-enter">
          <label class="label" id="price-label">Price: </label>
          <input type="text" class="form-control" placeholder="Price" id="price-enter" name="dish-price" value="{{price}}" required>
        </div>
        <input type="hidden" name="dish-id" value={{id}}>
        {% else %}
        <label class="label" id="category">Category: </label>
        <select name="category" class="form-control" required>
          <option value ="main">Main</option>
          <option value ="pizza">Pizza</option>
          <option value="burger">Burger</option>
          <option value="beverage">Beverage</option>
        </select>
        <div class="photo-enter">
          <label class="label" id="photo-url">Photo: </label>
          <div class="file-enter">
          <input type="file" class="form-control-file" id="exampleFormControlFile1" name="photo-file" required>
          </div>
        </div>
        <div class="name-enter">
          <label class="label" id="name-label">Name: </label>
          <input type="text" placeholder="Name" class="form-control" id="name-enter" name="dish-name" required>
        </div>
        <div class="price-enter">
        <label class="label" id="price-label">Price: </label>
        <input type="text" class="form-control" placeholder="Price" id="price-enter" name="dish-price" value="{{price}}" required>
        </div>
        {% endif %}
        <a href="/menu_management/">
          <button type="submit" name="submit-dish" {%if name%}value="edit-dish"{%else%}value="new-dish"{%endif%} class="btn btn-default">Submit</button>
        </a>
        {% csrf_token %}
      </form>
    </div>

    <script src="https://code.jquery.com/jquery-2.1.4.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </body>
</html>
