<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Dish</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/store.css' %}">
  </head>
  <body>
    <div class="container">
      <h1>Store</h1>
      <form action="/store_manager_employee/" method="POST">
        <div class="store-id">
          <label class="label" id="store-id">Store ID: </label>
          <input type="text" placeholder="ID" class="form-control" name="store-id" {% if store_id %}value="{{store_id}}" readonly="readonly"{%endif%} required>
        </div>
        <div class="name-enter">
          <label class="label" id="name-label">Name: </label>
          <input type="text" class="form-control" placeholder="Name" id="name-enter" name="store-name" {% if name %}value="{{name}}"{%endif%} required>
        </div>
        <div class="address-enter">
          <label class="label" id="address-label">Address: </label>
          <input type="text" class="form-control" placeholder="Address" id="address-enter" name="store-address" {% if address %}value="{{address}}"{%endif%} required>
        </div>
        <div class = "manager-employee">
          <div class="managers">
            {%if managers%}
            <label class="manager-label">Managers:</label>
            {% for m in managers%}
            <div class="manager-checkbox">
            <input type="checkbox" class="form-check-input" id="exampleCheck1" name="choose-store-manager" value="{{m.manager_id}}">
            <label class="form-check-label" for="exampleCheck1">{{m.manager_id}}: {{m.name}}</label>
            </div>
            {% endfor %}
            {% endif %}
          </div>
          <div></div>
          <div class="employees">
            {%if employees%}
            <label class="manager-label">Employees:</label>
            {% for e in employees%}
            <div class="manager-checkbox">
              <input type="checkbox" class="form-check-input" id="exampleCheck1" name="choose-store-employee" value="{{e.employee_id}}">
              <label class="form-check-label" for="exampleCheck1">{{e.employee_id}}: {{e.name}}</label>
            </div>
            {% endfor %}
            {% endif %}
         </div>
         <div>
            <a href="/store_manager_employee/">
              <button type="submit" name="submit" {%if store_id%}value="edit-store" {%else%}value="new-store"{%endif%} class="btn btn-default">Submit</button>
            </a>
        </div>
        {% csrf_token %}
      </form>
    </div>

    <script src="https://code.jquery.com/jquery-2.1.4.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </body>
</html>
