<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
	<title>Calculator</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="static/css/style.css">
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"
  			integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  			crossorigin="anonymous">
  	</script>
</head>
<body>
	<div class="container">
		<form action="/calculator/", method="POST">
			<div class="calculator">
				<input id="display" name="display" class="display-number" type="text" value={{display}}>
				<input id="pre_val" name="pre_val" type="hidden" value={{pre_val}}>
				<input id="cur_val" name="cur_val" type="hidden" value={{cur_val}}>
				<input id="pre_opt" name="pre_opt" type="hidden" value={{pre_opt}}>
				<input id="cur_opt" name="cur_opt" type="hidden" value={{cur_opt}}>
				<input id="error" name="error" type="hidden" value={{error}}>
				<table>
					<tr>
						<td><button id="7" name="num" value="7" type="submit" class="btn btn-default">7</button></td>
						<td><button id="8" name="num" value="8" type="submit" class="btn btn-default">8</button></td>
						<td><button id="9" name="num" value="9" type="submit" class="btn btn-default">9</button></td>
						<td><button id="opt-plus" name="opt" value="+" type="submit" class="btn btn-danger">&plus;</button></td>
					</tr>
					<tr>
						<td><button id="4" name="num" value="4" type="submit" class="btn btn-default">4</button></td>
						<td><button id="5" name="num" value="5" type="submit" class="btn btn-default">5</button></td>
						<td><button id="6" name="num" value="6" type="submit" class="btn btn-default">6</button></td>
						<td><button id="opt-minus" type="submit" name="opt" value="-" class="btn btn-danger">&minus;</button></td>
					</tr>
					<tr>
						<td><button id="1" name="num" value="1" type="submit" class="btn btn-default">1</button></td>
						<td><button id="2" name="num" value="2" type="submit" class="btn btn-default">2</button></td>
						<td><button id="3" name="num" value="3" type="submit" class="btn btn-default">3</button></td>
						<td><button id="opt-times" type="submit" name="opt" value="*" class="btn btn-danger">&times;</button></td>
					</tr>
					<tr>
						<td></td>
						<td><button id="0" name="num" value="0" type="submit" class="btn btn-default">0</button></td>
						<td><button id="opt-equals" type="submit" name="opt" value="=" class="btn btn-danger">=</button></td>
						<td><button id="opt-divide" type="submit" name="opt" value="/" class="btn btn-danger">&divide;</button></td>
					</tr>
				</table>
			</div>
			{% csrf_token %}
		</form>
	</div>
	<script type="text/javascript" src="calc.js"></script>
</body>
</html>
