<!DOCTYPE html>
{% load staticfiles %}
<html>
	<head>
		<title>Calculator</title>
		<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
	</head>
	<body>
		<div class="container">
			<form action="/calculator/" method="POST">
				<div class="calculator">
					<input id="display" name="display" class="display-number" type="text" value={{display}} readonly="readonly">
					<input id="pre_val" name="pre_val" type="hidden" value={{pre_val}}>
					<input id="cur_val" name="cur_val" type="hidden" value={{cur_val}}>
					<input id="pre_opt" name="pre_opt" type="hidden" value={{pre_opt}}>
					<input id="cur_opt" name="cur_opt" type="hidden" value={{cur_opt}}>
					<input id="error" name="error" type="hidden" value={{error}}>
					<table>
						<tr>
							<td><button id="7" name="num" value="7" type="submit" class="button button-white">7</button></td>
							<td><button id="8" name="num" value="8" type="submit" class="button button-white">8</button></td>
							<td><button id="9" name="num" value="9" type="submit" class="button button-white">9</button></td>
							<td><button id="opt-plus" name="opt" value="+" type="submit" class="button button-red">&plus;</button></td>
						</tr>
						<tr>
							<td><button id="4" name="num" value="4" type="submit" class="button button-white">4</button></td>
							<td><button id="5" name="num" value="5" type="submit" class="button button-white">5</button></td>
							<td><button id="6" name="num" value="6" type="submit" class="button button-white">6</button></td>
							<td><button id="opt-minus" type="submit" name="opt" value="-" class="button button-red">&minus;</button></td>
						</tr>
						<tr>
							<td><button id="1" name="num" value="1" type="submit" class="button button-white">1</button></td>
							<td><button id="2" name="num" value="2" type="submit" class="button button-white">2</button></td>
							<td><button id="3" name="num" value="3" type="submit" class="button button-white">3</button></td>
							<td><button id="opt-times" type="submit" name="opt" value="*" class="button button-red">&times;</button></td>
						</tr>
						<tr>
							<td></td>
							<td><button id="0" name="num" value="0" type="submit" class="button button-white">0</button></td>
							<td><button id="opt-equals" type="submit" name="opt" value="=" class="button button-red">=</button></td>
							<td><button id="opt-divide" type="submit" name="opt" value="/" class="button button-red">&divide;</button></td>
						</tr>
					</table>
				</div>
				{% csrf_token %}
			</form>
		</div>
	</body>
</html>
