<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
  <title>Order</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'css/order.css' %}">
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
         <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-nav-demo" aria-expanded="false">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="/main/" class="navbar-brand"><span class="glyphicon"></span>Mao's Restaurant</a>
      </div>
      <div class="collapse navbar-collapse" id="bs-nav-demo">
        <ul class="nav navbar-nav">
          <li><a href="/menu/">Menu</a></li>
          <li><a href="/menu_management/">Menu Management</a></li>
          <li><a href="/submitted_order/">Submitted Orders</a></li>
          <li><a href="/store_manager_employee/">Management</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li id="identity">
            <div class="btn-group">
              <a class="btn btn-primary" href="#"><i class="glyphicon glyphicon-user"></i> Customer</a>
              <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Account</a></li>
                <li><a href="#">Change Password</a></li>
                <li class="divider"></li>
                <li><a href="#">Log out</a></li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>

<div class="container-fluid">
  <div class="row content">
    <div class="sidenav hidden-xs">
      <div class="order-part">
      <ul class="nav nav-pills nav-stacked">
        <h2 id="order-title">Order</h2>
        {% if orders %}
        {% for order in orders%}
        <form action="/order/" method="POST">
          <li class="order-line">
            <h3 class="dish">{{order.dish.name}}</h3>
            <h3 class="number">
              <button class="btn btn-default" type="submit" name="increase-num" value="{{order.dish.name}}">+</button>
              {{order.num}}
              <button class="btn btn-default" type="submit" name="decrease-num" value="{{order.dish.name}}">-</button>
            </h3>
          </li>
          {% csrf_token%}
        </form>
        {% endfor %}
        {% endif %}
        {% if total_price %}
        <li class="total-price">Total price: {{total_price}}$</li>
        {% endif %}

      </ul><br>
      <form action="/order/" method="POST">
        <div class="store">
          <label id="store-name">Store: </label>
          <select class="store-select" name="store" required>
            {%if stores%}
            {%for store in stores%}
            <option value="{{store.store_id}}">{{store.name}}</option>
            {% endfor %}
            {% endif %}
          </select>
        </div>
        <div class="username">
          <label id="username-label">Username:  </label>
          <input type="text" id="username-input" name="username" required>
        </div>
        <div class="submit-button">
          <button class="btn btn-primary" type="submit" name="submit-button" value="Submit">Submit</button>
        </div>
        {% csrf_token %}
      </form>
      </div>
    </div>
    <br>


    <div class="col-sm-9 main">
    <h1 class="menu">
      Menu
    </h1>

    <ul class="breadcrumb">
      <li><a href="#" class="type">Main</a> </li>
    </ul>

      <div class="row">
        {% for item in menu %}
        {% if item.categary == "main" %}
        <div class="col-lg-4 col-sm-6">
          <div class="thumbnail">
            <img src={{item.photo_url}}>
            <div>
              <h2 class="name">
                {{item.name}}
              </h2>
            </div>
            <div>
              <h2 class="price">
                {{item.price}}$
              </h2>
            </div>
            <div class="buttons">
              <form method="POST">
                <a href="/order/" class="add-dish">
                  <button class="btn btn-danger" type="submit" name="add-dish" value="add">Add</button>
                </a>
                <input type="hidden" name="dish-name" value="{{item.name}}">
                {% csrf_token %}
              </form>
            </div>
          </div>
        </div>
        {% endif %}
        {% endfor %}
      </div>

  <ul class="breadcrumb">
      <li><a href="#" class="type">Pizza</a> </li>
  </ul>

  <div class="row">
    {% for item in menu %}
    {% if item.categary == "pizza" %}
    <div class="col-lg-4 col-sm-6">
      <div class="thumbnail">
        <img src={{item.photo_url}}>
        <div>
          <h2 class="name">
            {{item.name}}
          </h2>
        </div>
        <div>
          <h2 class="price">
            {{item.price}}$
          </h2>
        </div>
        <div class="buttons">
          <form method="POST">
            <a href="/order/" class="add-dish">
              <button class="btn btn-danger" type="submit" name="add-dish" value="add">Add</button>
            </a>
            <input type="hidden" name="dish-name" value="{{item.name}}">
            {% csrf_token %}
          </form>
        </div>
      </div>
    </div>
    {% endif %}
    {% endfor %}
  </div>

  <ul class="breadcrumb">
      <li><a href="#" class="type">Burger</a> </li>
  </ul>

  <div class="row">
    {% for item in menu %}
    {% if item.categary == "burger" %}
    <div class="col-lg-4 col-sm-6">
      <div class="thumbnail">
        <img src={{item.photo_url}}>
        <div>
          <h2 class="name">
            {{item.name}}
          </h2>
        </div>
        <div>
          <h2 class="price">
            {{item.price}}$
          </h2>
        </div>
        <div class="buttons">
          <form method="POST">
            <a href="/order/" class="add-dish">
              <button class="btn btn-danger" type="submit" name="add-dish" value="add">Add</button>
            </a>
            <input type="hidden" name="dish-name" value="{{item.name}}">
            {% csrf_token %}
          </form>
        </div>
      </div>
    </div>
    {% endif %}
    {% endfor %}
  </div>

  <ul class="breadcrumb">
      <li><a href="#" class="type">Beverage</a> </li>
  </ul>

  <div class="row">
    {% for item in menu %}
    {% if item.categary == "beverage" %}
    <div class="col-lg-4 col-sm-6">
      <div class="thumbnail">
        <img src={{item.photo_url}}>
        <div>
          <h2 class="name">
            {{item.name}}
          </h2>
        </div>
        <div>
          <h2 class="price">
            {{item.price}}$
          </h2>
        </div>
        <div class="buttons">
          <form method="POST">
            <a href="/order/" class="add-dish">
              <button class="btn btn-danger" type="submit" name="add-dish" value="add">Add</button>
            </a>
            <input type="hidden" name="dish-name" value="{{item.name}}">
            {% csrf_token %}
          </form>
        </div>
      </div>
    </div>
    {% endif %}
    {% endfor %}
  </div>
</div>

</body>
</html>
