<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
  <title>Submitted Order</title>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="{% static 'css/store_manager_employee.css' %}">
</head>
<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
         <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-nav-demo" aria-expanded="false">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="/main/" class="navbar-brand"><span class="glyphicon"></span>Mao's Restaurant</a>
      </div>
      <div class="collapse navbar-collapse" id="bs-nav-demo">
        <ul class="nav navbar-nav">
          <li class="top"><a href="/menu/">Menu</a></li>
          <li class="top"><a href="/menu_management/">Menu Management</a></li>
          <li class="top"><a href="/order/">Order</a></li>
          <li class="top"><a href="/submitted_order/">Submitted Orders</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li id="identity">

            <div class="btn-group">
              <a class="btn btn-primary" href="#"><i class="glyphicon glyphicon-user"></i> Manager</a>
              <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Account</a></li>
                <li><a href="#">Change Password</a></li>
                <li class="divider"></li>
                <li><a href="#">Log out</a></li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container">
    <div class="store-part">
    <h1 class="stores">
      Stores
    </h1>

    <div class="row">
      {% if stores %}
      {% for s in stores %}
      <div class="col-lg-6">
        <div class="thumbnail store-thumbnail">
          <div class="store-block">
            <div class="buttons">
              <form action='/store_manager_employee/' method='POST'>
                <a href="/store/" class="edit">
                  <button class="btn btn-primary" id="edit" type="submit" name="change-store" value="edit">Edit</button>
                </a>
                <a href="/store_manager_employee/" class="delete">
                  <button class="btn btn-danger" id="delete" type="submit" name="change-store" value="delete">Delete</button>
                </a>
                <input type="hidden" name='change-store-id' value={{s.store_id}}>
              {% csrf_token %}
              </form>
            </div>
            <ul class="store-ul">
              <li class="store-id line-style"><b>Store ID:</b> {{s.store_id}}</li>
              <li class="divider line-style"></li>
              <li class="store-name line-style"><b>Store Name:</b> {{s.name}}</li>
              <li class="divider line-style"></li>
              <li class="store-address line-style"><b>Store Address:</b> {{s.address}}</li>
              <li class="divider line-style"></li>
            </ul>

            <div class="dropdown">
              <ul class="breadcrumb dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <li><a href="#" class="order-title">Managers</a> </li>
                <li><a href="#" class="order-title">Employees</a> </li>
              </ul>
              <ul class="dropdown-menu order-dropdown" aria-labelledby="dropdownMenu1">
                <li class="manager-category"><b>Managers:</b></li>
                <li class="divider"></li>
                {% for m in s.managers_set.all %}
                <li class="manager-id-name">{{m.manager_id}}: {{m.name}}</li>
                {% endfor %}
                <li class="divider"></li>
                <li class="manager-category"><b>Employees:</b></li>
                <li class="divider"></li>
                {% for e in s.employees_set.all %}
                <li class="manager-id-name">{{e.employee_id}}: {{e.name}}</li>
                {% endfor %}

              </ul>
            </div>

            </div>
          </div>
        </div>
        {% endfor %}
        {% endif %}
        <div class="col-lg-6">
          <div class="thumbnail add-block store-thumbnail">
            <a href="/store/" class="add-store">
              <button class="btn btn-default add-s" name="add-store">+</button>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="manager-part">
    <h1 class="managers">
      Managers
    </h1>

    <div class="row">
      {% if managers %}
      {% for m in managers %}
      <div class="col-lg-6">
        <div class="thumbnail manager-thumbnail">
          <div class="manager-block">
            <div class="buttons">
              <form action='/store_manager_employee/' method='POST'>
                <a href="/manager/" class="edit">
                  <button class="btn btn-primary" id="edit" type="submit" name="change-manager" value="edit">Edit</button>
                </a>
                <a href="/store_manager_employee/" class="delete">
                  <button class="btn btn-danger" id="delete" type="submit" name="change-manager" value="delete">Delete</button>
                </a>
                <input type="hidden" name='change-manager-id' value={{m.manager_id}}>
              {% csrf_token %}
              </form>
            </div>
            <ul class="manager-ul">
              <li class="manager-id line-style"><b>Manager ID:</b> {{m.manager_id}}</li>
              <li class="divider line-style"></li>
              <li class="manager-name line-style"><b>Manager Name:</b> {{m.name}}</li>
              <li class="divider line-style"></li>
              <li class="manager-stores line-style">
                <div class="store-management"><b>Store Management:</b></div>
                <ul class="store-management-ul">
                  {% for ms in m.stores.all %}
                  <li class="store-id-name"><span class="store-id">{{ms.store_id}}: </span> <span class="store-name">{{ms.name}}</span> </li>
                  {% endfor %}
                </ul>
              </li>
              <li style="list-style-type:none;" class="divider"></li>
            </ul>

            </div>
          </div>
        </div>
        {% endfor %}
        {% endif %}
        <div class="col-lg-6">
          <div class="thumbnail manager-thumbnail add-block-m">
            <a href="/manager/" class="add-manager">
              <button class="btn btn-default add-m">+</button>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="employee-part">
    <h1 class="employees">
      employees
    </h1>

    <div class="row">
      {% if employees %}
      {% for e in employees %}
      <div class="col-lg-6">
        <div class="thumbnail manager-thumbnail">
          <div class="manager-block">
            <div class="buttons">
              <form action='/store_manager_employee/' method='POST'>
                <a href="/employee/" class="edit">
                  <button class="btn btn-primary" id="edit" type="submit" name="change-employee" value="edit">Edit</button>
                </a>
                <a href="/store_manager_employee/" class="delete">
                  <button class="btn btn-danger" id="delete" type="submit" name="change-employee" value="delete">Delete</button>
                </a>
                <input type="hidden" name='change-employee-id' value={{e.employee_id}}>
              {% csrf_token %}
              </form>
            </div>
              <ul class="manager-ul">
                <li class="manager-id line-style"><b>Employee ID:</b> {{e.employee_id}}</li>
                <li class="divider line-style"></li>
                <li class="manager-name line-style"><b>Employee Name:</b> {{e.name}}</li>
                <li class="divider line-style"></li>
                <li class="manager-stores line-style">

                  <div class="store-management"><b>Store Management:</b></div>
                  <ul class="store-management-ul">
                    {% for es in e.stores.all %}
                    <li class="store-id-name"><span class="store-id">{{es.store_id}}: </span> <span class="store-name">{{es.name}}</span> </li>
                    {% endfor %}
                  </ul>

                </li>
                <li style="list-style-type:none;" class="divider"></li>
              </ul>
            </div>
          </div>
        </div>
        {% endfor %}
        {% endif %}
        <div class="col-lg-6">
          <div class="thumbnail manager-thumbnail add-block-m">
            <a href="/employee/" class="add-manager">
              <button class="btn btn-default add-m">+</button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
<script src="https://code.jquery.com/jquery-2.1.4.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>
</html>
