{% extends "menuserver/base_menuserver.html" %}
{% load staticfiles%}
{% block css %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
{% endblock %}
{% block navbar %}
  <li><a href="#">About us</a></li>
  <li><a href="#">Contact</a></li>
{% endblock %}
{% block class3 %}class="container"{% endblock %}
{% block title %}
Mao's Restaurant
{% endblock %}
{% block content %}
  <p>
    Mao's rastaurant specializes in the freshest fish and seafood prepared withLatino – Caribbean flair, and features a wonderful oyster andceviche bar in front of the open kitchen. In 2003
  </p>
  <a href="{% url 'Menu' %}" id="button">
    <button class="btn btn-lg menu">View Menu</button>
  </a>
  {% if user.is_authenticated %}
  <a href="{% url 'Order' %}" id="button">
    <button class="btn btn-lg order">Make an Order</button>
  </a>
  {% if manager %}
  <a href="{% url 'Menu Management' %}" id="button">
    <button class="btn btn-lg order">Menu Management</button>
  </a>
  <a href="{% url 'Management' %}" id="button">
    <button class="btn btn-lg order">Management</button>
  </a>
  <a href="{% url 'Submitted Orders' %}" id="button">
    <button class="btn btn-lg order">Submitted orders</button>
  </a>
  {% endif %}
  {% if employee %}
  <a href="{% url 'Submitted Orders' %}" id="button">
    <button class="btn btn-lg order">Submitted orders</button>
  </a>
  {% endif %}
  {% endif %}
{% endblock %}
