body {
      padding-top: 70px;
      background: url("https://images.unsplash.com/photo-1559847844-5315695dadae?ixlib=rb-1.2.1&auto=format&fit=crop&w=1480&q=80");
      background-size: 100%;
      background-attachment: fixed;
      background-repeat： no-repeat;
}

.store-management-ul {
  width: 100%;
  /* white-space: nowrap; */
  margin-bottom: 10px;
}

li:not(.top):not(.store-id-name) {
  font-family: Avenir Next;
  margin-top: 10px;
  font-size: 18px;
}

.dropdown-menu {
  width: 550px;
}


.buttons {
  margin-top: 7px;
  margin-bottom: 7px;
}

.line-style {
  list-style-type:none;
}

.store-thumbnail {
  height: 225px;
}

.manager-thumbnail {
  height:250px;
}

.manager-id-name {
  margin-left: 90px;
  font-size: 16px;
}

.manager-category {
  margin-left: 40px;
}

.store-id {
  font-size: 14px;
}

.store-name{
  font-size:14px;
}

 .take-line {
   color: white;
 }

#edit {
  margin-left: 10px;
}

h1 {
	font-family: chalkduster;
	font-size: 70px;
	font-weight: 500;
	color: white;
	padding-top: 10px;
	text-align: center;
	padding-bottom: 30px;
}

.container {
	background-color: rgba(0, 0, 0, 0.3);
}

.add-s {
  height: 215px;
  width: 545px;
  border:dashed gray;
  font-size: 70px;
  color:gray;
}

.add-m {
  height: 240px;
  width: 545px;
  border:dashed gray;
  font-size: 70px;
  color:gray;
}
